@tailwind base;
@tailwind components;
@tailwind utilities;

.button-left {
	align-items: flex-start !important;
	justify-content: flex-start !important;
}

.layout {
	display: grid;
	grid-template-rows: auto 1fr auto;
}